<m-portlet>

	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				Leaderboard
			</h3>
		</div>
	</ng-container>

	<ng-container mPortletBody>
		<perfect-scrollbar class="m-scrollable m-scroller" style="height: 40vh;">
			<div class="leaderboard-grid">
			<div class="l-item border p-3 rounded mb-3 bg-success text-white">
				<div class="name">
					<img src="./assets/app/media/img/users/user1.jpg" class="m--img-rounded" alt="">
					<div class="meta">
						<p>Lina Bee <small class="text-danger"><span class="fa fa-angle-down"></span>2</small></p>
						<span>3 likes</span>
					</div>
				</div>
				<div class="trophy-box gold">
					<span class="fa fa-trophy"></span>
				</div>
			</div>
			<div class="l-item border p-3 rounded mb-3">
				<div class="name">
					<img src="./assets/app/media/img/users/user2.jpg" class="m--img-rounded" alt="">
					<div class="meta">
						<p>Lina Bee <small class="text-success"><span class="fa fa-angle-up"></span>1</small></p>
						<span>3 likes</span>
					</div>
				</div>
				<div class="trophy-box silver">
					<span class="fa fa-trophy"></span>
				</div>
			</div>
			<div class="l-item border p-3 rounded mb-3">
				<div class="name">
					<img src="./assets/app/media/img/users/user3.jpg" class="m--img-rounded" alt="">
					<div class="meta">
						<p>Lina Bee <small class="text-danger"><span class="fa fa-angle-down"></span>2</small></p>
						<span>3 likes</span>
					</div>
				</div>
				<div class="trophy-box bronze">
					<span class="fa fa-trophy"></span>
				</div>
			</div>
			<div class="l-item border p-3 rounded mb-3">
				<div class="name">
					<img src="./assets/app/media/img/users/user3.jpg" class="m--img-rounded" alt="">
					<div class="meta">
						<p>Lina Bee <small class="text-danger"><span class="fa fa-angle-down"></span>2</small></p>
						<span>3 likes</span>
					</div>
				</div>
				<div class="trophy-box">
					<span class="fa fa-trophy"></span>
				</div>
			</div>
			<div class="l-item border p-3 rounded">
				<div class="name">
					<img src="./assets/app/media/img/users/user3.jpg" class="m--img-rounded" alt="">
					<div class="meta">
						<p>Lina Bee <small class="text-danger"><span class="fa fa-angle-down"></span>2</small></p>
						<span>3 likes</span>
					</div>
				</div>
				<div class="trophy-box">
					<span class="fa fa-trophy"></span>
				</div>
			</div>
		</div>
		</perfect-scrollbar>
	</ng-container>

</m-portlet>
